body{
    background-color:rgb(243, 174, 84);
}

.heading{
    width:80%;
    font-size: 30px;

}

#camera{
    border:2px dashed black;
    width:350px;
    height:300px ;
}

.name_of_faces
{
    font-size: 30px;
    color: black;
}